@media (max-width: 1239px) {
  .gac-container {
    max-width: 1024px;
  }
  .gac-header {
    .gac-container {
      max-width: 1244px;
    }
  }
  .gac-menu {
    margin-left: 10px;
    .gac-menu__item + .gac-menu__item {
      margin-left: 12px;
    }
    &__item {
      font-size: 15px;
    }
  }
  .gac-logo {
    width: 200px;
    img {
      width: 100%;
    }
  }
  .gac-call {
    margin-left: 15px;
    font-size: 17px;
    margin-right: auto;
    &__link {
      &::before {
        background-size: cover;
        width: 13px;
        height: 14px;
        left: -23px;
        top: 3px;
      }
      &::after {
        background-size: cover;
        left: -15px;
        top: -5px;
        width: 14px;
        height: 14px;
      }
    }
  }
  .gac-login__link {
    font-size: 15px;
    padding: 8px 19px;
  }

  .gac-footer-nav {
    margin-right: 0;
    &__item {
      margin-right: 47px;
    }
    &__col {
      width: 23%;
    }
  }
  .gac-lucky-inner::after {
    left: 720px;
  }
  .gac-try {
    &-inner {
      &::after {
        background-size: cover;
        width: 127px;
        height: 196px;
        top: 106px;
        right: 42px;
      }
      &::before {
        background-size: cover;
        width: 193px;
        height: 204px;
        top: 116px;
        right: 0px;
      }
    }
  }
  .gac-ps {
    &-inner {
      align-items: center;
    }
    &-img {
      width: 400px;
      margin-left: 20px;
      img {
        width: 100%;
      }
    }
  }
  .gac-formats__item {
    width: 33%;
  }
}

//---------------------------------------------------------------------------------------------------------------

@media (max-width: 1023px) {
  .gac-container {
    max-width: 768px;
  }
  .gac-index__title {
    font-size: 36px;
    line-height: 45px;
  }
  .gac-header {
    padding-top: 24px;
    .gac-header-top {
      position: relative;
      .gac-header-mobile {
        display: none;
      }
    }
  }
  .gac-menu-btn {
    display: block;
  }
  .gac-footer {
    .gac-language-inner {
      margin-bottom: 43px;
      margin-top: 35px;
    }
    &-inner {
      display: block;
    }
    &-nav {
      justify-content: space-between;
    }
    &-other {
      margin: 0 auto;
      max-width: 335px;
    }
    &-nav__min-height {
      min-height: auto;
    }
    &-nav__col {
      width: 20%;
    }
  }
  .gac-language__link {
    position: relative;
  }
  .gac-language .gac-drop-down__list span {
    position: absolute;
    right: -17px;
    top: 1.5px;
  }
  .gac-footer-form__input {
    width: 335px;
    max-width: 100%;
  }
  .gac-footer .gac-language-inner .gac-drop-down__list {
    display: flex;
    top: 7px;
    right: -40px;
    .gac-language__link {
      margin-top: 0;
    }
    .gac-language__link + .gac-language__link {
      margin-left: 27px;
    }
  }
  .gac-footer .gac-language-inner .gac-language {
    padding-right: 30px;
    &::after {
      transform: rotate(-90deg);
      right: 15px;
      top: 9.5px;
    }
  }
  .gac-footer-form:after {
    right: 65px;
  }
  .gac-header-top::before {
    background-size: cover;
    width: 358px;
    height: 335px;
    left: -88px;
    top: -165px;
  }
  .gac-main {
    padding: 90px 0 130px;
    background-size: cover;
    background-position: center 0px;
    &__title {
      margin-bottom: 20px;
    }
    &__subtitle {
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
    }
  }
  .gac-blog-inner__title {
    br {
      display: none;
    }
  }
  .gac-lucky {
    &-inner::after {
      display: none;
    }
  }
  .gac-try {
    &__title::after {
      transform: scale(0.9);
      top: 39px;
      right: -7px;
    }
    &-inner {
      &::after {
        width: 180px;
        height: 242px;
        right: 104px;
        top: -36px;
      }
      &::before {
        top: -33px;
        right: 51px;
        width: 257px;
        height: 270px;
      }
    }
    &-form {
      display: block;
      label {
        display: none;
      }
    }
    .gac-try-input + .gac-try-input {
      margin-left: 0;
      margin-top: 24px;
    }
    &__btn {
      width: 312px;
      margin-left: 0;
      display: block;
      margin-top: 24px;
    }
    &-text {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 100%;
      p {
        margin-bottom: 13px;
        width: 40%;
      }
    }
  }
  .gac-ps-img {
    width: 540px;
  }
  .gac-formats {
    &__title::before {
      transform: scale(0.9);
      right: -8px;
      bottom: -3px;
    }
    &__item {
      width: 50%;
    }
  }
  .gac-hire {
    padding: 30px 0 40px;
    &__title {
      font-size: 25px;
      max-width: 400px;
      line-height: 30px;
      margin: 0 auto;
      margin-bottom: 24px;
    }
    &-inner {
      display: block;
      text-align: center;
    }
    &__link {
      margin-left: 0;
      width: 310px;
      height: 56px;
      padding-top: 10px;
    }
  }
  .gac-main.gac-main--seo__article {
    .gac-main__title::before {
      left: -18px;
      top: 37px;
      transform: scale(0.78);
    }
  }
  .gac-blog.gac-main--seo__article {
    .gac-blog__title {
      &::before {
        transform: scale(0.88);
        left: 150px;
        top: 39px;
      }
    }
  }
  .gac-main.gac-main--seo__blog {
    .gac-main__title::before {
      left: -11px;
      top: 38px;
      transform: scale(0.78);
    }
  }
  .gac-blog.gac-main--seo__blog {
    .gac-blog__title {
      &::before {
        transform: scale(0.9);
        left: 200px;
        top: 37px;
      }
    }
  }
  .gac-main.gac-main--seo__content {
    .gac-main__title::before {
      left: -15px;
      top: 37px;
      transform: scale(0.8);
    }
  }
  .gac-blog.gac-main--seo__content {
    .gac-blog__title {
      &::before {
        transform: scale(0.91);
        left: 349px;
        top: 37px;
      }
    }
  }
  .gac-main.gac-main--seo__hire-bloggers {
    .gac-main__title::before {
      right: -25px;
      top: 38px;
      transform: scale(0.75);
    }
  }
  .gac-blog.gac-main--seo__hire-bloggers {
    .gac-blog__title {
      &::before {
        transform: scale(0.91);
        left: 219px;
        top: 37px;
      }
    }
  }
  .gac-main.gac-main--seo__freelance {
    .gac-main__title::before {
      left: -25px;
      top: 38px;
      transform: scale(0.75);
    }
  }
  .gac-blog.gac-main--seo__freelance {
    .gac-blog__title {
      &::before {
        transform: scale(0.9);
        left: 298px;
        top: 37px;
      }
    }
  }
  .gac-main.gac-main--seo__hire-freelance {
    .gac-main__title::before {
      left: -24px;
      bottom: -5px;
      transform: scale(0.77);
    }
  }
  .gac-blog.gac-main--seo__hire-freelance {
    .gac-blog__title {
      &::before {
        transform: scale(0.9);
        left: 529px;
        top: 37px;
      }
    }
  }
  .gac-main.gac-main--seo__hire-writers {
    .gac-main__title::before {
      right: -22px;
      top: 39px;
      transform: scale(0.74);
    }
  }
  .gac-blog.gac-main--seo__hire-writers {
    .gac-blog__title {
      &::before {
        transform: scale(0.91);
        left: 271px;
        top: 37px;
      }
    }
  }
  .gac-main.gac-main--seo__seo {
    .gac-main__title::before {
      left: -10px;
      top: 39px;
      transform: scale(0.77);
    }
  }
  .gac-blog.gac-main--seo__seo {
    .gac-blog__title {
      &::before {
        transform: scale(0.91);
        left: 265px;
        top: 37px;
      }
    }
  }
}

//---------------------------------------------------------------------------------------------------------------

@media (max-width: 767px) {
  .gac-container {
    max-width: 667px;
  }
  .gac-footer {
    &-form__btn {
      width: 175px;
    }
    &-other {
      max-width: 335px;
    }
    &-nav__col {
      width: 30%;
    }
    &-form {
      &::after {
        right: 40px;
      }
    }
  }
  .gac-blog {
    &__title {
      br {
        display: none;
      }
    }
    &-inner {
      display: block;
      margin-top: 40px;
      &__item {
        width: 100%;
        text-align: center;
        & + & {
          margin-top: 75px;
        }
      }
      &__item-wrapper {
        display: block;
      }
      &__title {
        margin-left: 0;
      }
      &__img {
        margin-bottom: 7px;
      }
    }
  }
  .gac-benefits {
    &-text {
      margin-left: 20px;
    }
  }
  .gac-lucky__text {
    br {
      display: none;
    }
  }
  .gac-try {
    &-inner {
      &::before {
        top: -28px;
        right: 45px;
        width: 234px;
        height: 246px;
      }
      &::after {
        width: 167px;
        height: 224px;
        right: 88px;
        top: -33px;
      }
    }
    .gac-try-text p {
      width: 45%;
    }
  }
  .gac-ps {
    padding: 250px 0 35px;
    &__title {
      text-align: center;
      br {
        display: none;
      }
    }
    &-inner {
      position: relative;
    }
    &-img {
      width: 400px;
      margin-left: 0;
      position: absolute;
      top: -385px;
      left: 50%;
      transform: translate(-50%, 0);
    }
    &__list {
      max-width: 100%;
    }
  }
  .gac-reviews {
    padding: 40px 0 50px;
    &__title {
      display: none;
    }
    &__title--mobile {
      display: block;
      margin-bottom: 20px;
    }
  }
  .gac-reviews-slider {
    &__item {
      height: 192px;
      min-width: 264px;
      max-width: 264px;
      padding: 15px 16px 8px;
    }
    &__stars {
      margin-left: -5px;
      margin-bottom: 9px;
      .gac-reviews-slider__star + .gac-reviews-slider__star {
        margin-left: -2px;
      }
    }
    &__star {
      transform: scale(0.75);
    }
    &__name {
      font-size: 18px;
      margin-bottom: 7px;
    }
    &__text {
      font-size: 16px;
      max-height: 90px;
      line-height: 144%;
    }
  }
  .gac-blog.gac-main--seo__article {
    .gac-blog__title {
      &::before {
        left: 214px;
      }
    }
  }
  .gac-blog.gac-main--seo__blog {
    .gac-blog__title {
      &::before {
        left: 254px;
      }
    }
  }
  .gac-blog.gac-main--seo__content {
    .gac-blog__title {
      &::before {
        transform: scale(0.75);
        left: -15px;
        top: 35px;
      }
    }
  }
  .gac-blog.gac-main--seo__hire-bloggers {
    .gac-blog__title {
      &::before {
        left: 253px;
      }
    }
  }
  .gac-blog.gac-main--seo__freelance {
    .gac-blog__title {
      &::before {
        left: 246px;
      }
    }
  }
  .gac-blog.gac-main--seo__hire-freelance {
    .gac-blog__title {
      &::before {
        left: 164px;
        top: 83px;
      }
    }
  }
  .gac-blog.gac-main--seo__hire-writers {
    .gac-blog__title {
      &::before {
        left: 276px;
      }
    }
  }
  .gac-blog.gac-main--seo__seo {
    .gac-blog__title {
      &::before {
        left: 214px;
      }
    }
  }
}

//---------------------------------------------------------------------------------------------------------------

@media (max-width: 666px) {
  .gac-container {
    max-width: 480px;
    padding: 0 16px;
  }
  .gac-index__title {
    font-size: 30px;
    line-height: 40px;
  }
  .gac-main {
    padding: 70px 0 110px;
  }
  #gac-modal {
    .gac-menu__name {
      font-size: 20px;
    }
    .gac-menu__link {
      font-size: 16px;
    }
  }
  .gac-footer {
    &-end {
      margin-top: -21px;
      font-size: 12px;
    }
    &-form::after {
      right: 40px;
    }
    &-nav__col {
      width: 43%;
    }
    &-form__text {
      font-size: 20px;
    }
    .gac-footer-nav__col:nth-child(2) {
      .gac-footer-nav__item:nth-child(1) {
        margin-top: 53px;
      }
    }
    .gac-language-inner .gac-language {
      padding-right: 25px;
    }
    .gac-language-inner__text {
      margin-right: 10px;
    }
    .gac-language-inner .gac-language::after {
      right: 10px;
    }
  }
  .gac-blog {
    padding-bottom: 405px;
  }
  .gac-benefits {
    &__title {
      text-align: center;
    }
    &-inner {
      position: relative;
    }
    &-img {
      position: absolute;
      width: 95px;
      top: -420px;
      img {
        width: 100%;
      }
    }
    &-text {
      margin-left: 0;
    }
  }
  .gac-lucky {
    padding: 280px 0 55px;
    &__title {
      text-align: center;
      br {
        display: none;
      }
    }
    &-inner::after {
      left: -135px;
      top: -285px;
      display: block;
      transform: scale(0.45);
    }
  }

  .gac-try {
    padding: 44px 0 312px;
    &__title {
      margin-bottom: 27px;
      width: 270px;
      margin-bottom: 0;
      &::after {
        transform: scale(0.74);
        top: 33px;
        right: 14px;
      }
    }
    &-inner {
      display: flex;
      flex-flow: wrap;
      &::before,
      &::after {
        display: none;
      }
    }
    &-form {
      margin: 0 auto;
      order: 2;
      width: 100%;
      text-align: center;
      margin-top: 18px;
      .jq-selectbox__select-text {
        text-align: left;
      }
      .jq-selectbox__dropdown {
        text-align: left;
      }
      .gac-try__btn {
        margin: 24px auto 0;
      }
    }
    &__btn {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        background-image: url(../images/try-illustration-bg.svg);
        width: 232px;
        height: 243px;
        top: 78px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1;
        background-size: cover;
      }
      &::after {
        content: "";
        position: absolute;
        background-image: url(../images/try-illustration.svg);
        width: 169px;
        height: 225px;
        top: 84px;
        left: 50%;
        z-index: 2;
        background-size: cover;
        transform: translate(-54%, 0) scale(-1, 1);
      }
    }
    .gac-try-text {
      order: 1;
      display: block;
      width: auto;
      columns: 1;
      margin: 28px auto 0;
      p {
        width: 100%;
      }
    }
  }
  .gac-ps {
    &__title {
      margin-bottom: 15px;
    }
    &-img {
      width: 340px;
      top: -330px;
    }
    .gac-ps__item + .gac-ps__item {
      margin-top: 25px;
    }
  }
  .gac-formats {
    padding: 27px 0 5px;
    &__item {
      width: 100%;
      margin-bottom: 55px;
    }
    &__title::before {
      transform: scale(0.75);
      right: -19px;
      bottom: -2px;
    }
  }
  .gac-reviews__title--mobile {
    text-align: left;
    font-size: 28px;
    margin-bottom: 5px;
    margin-left: 5px;
  }
  .gac-hire__title {
    font-size: 20px;
    line-height: 125%;
    max-width: 345px;
  }
  .gac-main.gac-main--seo__article {
    .gac-main__title::before {
      left: -26px;
      top: 30px;
      transform: scale(0.65);
    }
  }
  .gac-blog.gac-main--seo__article {
    .gac-blog__title {
      &::before {
        transform: scale(0.75);
        left: 130px;
        top: 31px;
      }
    }
  }
  .gac-main.gac-main--seo__blog {
    .gac-main__title::before {
      left: -17px;
      top: 33px;
      transform: scale(0.65);
    }
  }
  .gac-blog.gac-main--seo__blog {
    .gac-blog__title {
      &::before {
        transform: scale(0.75);
        left: 155px;
        top: 31px;
      }
    }
  }
  .gac-main.gac-main--seo__content {
    .gac-main__title::before {
      left: -27px;
      top: 33px;
      transform: scale(0.67);
    }
  }
  .gac-blog.gac-main--seo__content {
    .gac-blog__title {
      &::before {
        transform: scale(0.76);
        left: 43px;
        top: 72px;
      }
    }
  }
  .gac-main.gac-main--seo__hire-bloggers {
    .gac-main__title::before {
      left: 25px;
      top: 32px;
      transform: scale(0.63);
    }
  }
  .gac-blog.gac-main--seo__hire-bloggers {
    .gac-blog__title {
      &::before {
        transform: scale(0.76);
        left: 155px;
        top: 32px;
      }
    }
  }
  .gac-main.gac-main--seo__freelance {
    .gac-main__title::before {
      left: -39px;
      top: 33px;
      transform: scale(0.64);
    }
  }
  .gac-blog.gac-main--seo__freelance {
    .gac-blog__title {
      &::before {
        transform: scale(0.75);
        left: 181px;
        top: 31px;
      }
    }
  }
  .gac-main.gac-main--seo__hire-freelance {
    .gac-main__title::before {
      left: -38px;
      bottom: -5px;
      transform: scale(0.64);
    }
  }
  .gac-blog.gac-main--seo__hire-freelance {
    .gac-blog__title {
      &::before {
        transform: scale(0.75);
        left: 85px;
        top: 71px;
      }
    }
  }
  .gac-main.gac-main--seo__hire-writers {
    .gac-main__title::before {
      right: -32px;
      top: 31px;
      transform: scale(0.61);
    }
  }
  .gac-blog.gac-main--seo__hire-writers {
    .gac-blog__title {
      &::before {
        transform: scale(0.75);
        left: -25px;
        top: 71px;
      }
    }
  }
  .gac-main.gac-main--seo__seo {
    .gac-main__title::before {
      left: -15px;
      top: 33px;
      transform: scale(0.65);
    }
  }
  .gac-blog.gac-main--seo__seo {
    .gac-blog__title {
      &::before {
        transform: scale(0.76);
        left: 176px;
        top: 31px;
      }
    }
  }
}

//---------------------------------------------------------------------------------------------------------------

@media (max-width: 479px) {
  .gac-container {
    max-width: 375px;
  }
  .gac-index__title {
    font-size: 24px;
    line-height: 36px;
  }
  .gac-logo {
    width: 144px;
    height: 18px;
    img {
      width: 100%;
    }
  }
  .gac-call {
    font-size: 16px;
    margin-left: 15px;
    .gac-call__link {
      &::before {
        width: 12px;
        height: 12px;
        left: -23px;
        top: 6px;
      }
      &::after {
        left: -16px;
        top: -2px;
        width: 12.8px;
        height: 13px;
      }
    }
  }
  #gac-modal {
    .gac-menu__item-col:nth-child(2) {
      margin-right: 6px;
    }
    .gac-menu__link {
      font-size: 17px;
    }
  }

  .gac-header-top::before {
    width: 225px;
    height: 258px;
    left: -100px;
    top: -110px;
  }
  .gac-main {
    padding: 115px 0 110px;
    position: relative;
    background-position: -245px 0px;
    text-align: center;
    &-inner {
      position: absolute;
      z-index: 999;
      width: 100%;
      bottom: -140px;
      left: 0;
    }
    &__title {
      font-size: 28px;
      line-height: 42px;
      margin-bottom: 10px;
      text-align: center;
    }
    &__subtitle {
      font-weight: 400;
      font-size: 17px;
      line-height: 23px;
    }
  }
  .gac-blog {
    padding-top: 160px;
    &__subtitle {
      font-size: 17px;
      line-height: 26px;
      max-width: 912px;
      width: 100%;
      margin: 0 auto;
      margin-top: 15px;
    }
  }
  .gac-benefits {
    padding-bottom: 35px;
    &__text {
      font-size: 17px;
      line-height: 26px;
    }
    &__list {
      font-size: 17px;
      line-height: 26px;
    }
    &__item {
      margin-top: 26px;
      &::before {
        top: 8px;
      }
    }
  }
  .gac-lucky {
    &__list {
      font-size: 17px;
      line-height: 26px;
    }
    &-inner::after {
      left: -190px;
    }
  }
  .gac-try {
    &__title {
      margin-bottom: 25px;
      width: 215px;
      &::after {
        transform: scale(0.59);
        top: 27px;
        right: -4px;
      }
    }
    .gac-try-inner .gac-try-text {
      margin-top: 5px;
    }
  }
  .gac-ps {
    &__list {
      font-size: 17px;
      line-height: 26px;
    }
    &-img {
      top: -320px;
    }
    &__item + &__item {
      margin-top: 18px;
    }
    &__item::before {
      top: 3px;
    }
  }

  .gac-formats {
    padding-top: 20px;
    text-align: center;
    &__text {
      padding-left: 90px;
    }
    &__title::before {
      transform: scale(0.6);
      right: -29px;
      bottom: -2px;
    }
    &__list {
      text-align: left;
    }
  }
  .gac-main.gac-main--seo__article {
    .gac-main__title::before {
      left: -29px;
      top: 32px;
      transform: scale(0.61);
    }
  }
  .gac-blog.gac-main--seo__article {
    .gac-blog__title {
      &::before {
        transform: scale(0.59);
        left: 82px;
        top: 26px;
      }
    }
  }
  .gac-main.gac-main--seo__blog {
    .gac-main__title::before {
      left: -19px;
      top: 35px;
      transform: scale(0.61);
    }
  }
  .gac-blog.gac-main--seo__blog {
    .gac-blog__title {
      &::before {
        transform: scale(0.6);
        left: 93px;
        top: 26px;
      }
    }
  }
  .gac-main.gac-main--seo__content {
    .gac-main__title::before {
      left: -30px;
      top: 33px;
      transform: scale(0.63);
    }
  }
  .gac-blog.gac-main--seo__content {
    .gac-blog__title {
      &::before {
        transform: scale(0.61);
        left: -9px;
        top: 63px;
      }
    }
  }
  .gac-main.gac-main--seo__hire-bloggers {
    .gac-main__title::before {
      left: 17px;
      top: 32px;
      transform: scale(0.58);
    }
  }
  .gac-blog.gac-main--seo__hire-bloggers {
    .gac-blog__title {
      &::before {
        transform: scale(0.61);
        left: 132px;
        top: 26px;
      }
    }
  }
  .gac-main.gac-main--seo__freelance {
    .gac-main__title::before {
      left: -28px;
      top: 34px;
      transform: scale(0.6);
    }
  }
  .gac-blog.gac-main--seo__freelance {
    .gac-blog__title {
      &::before {
        transform: scale(0.61);
        left: 126px;
        top: 26px;
      }
    }
  }
  .gac-main.gac-main--seo__hire-freelance {
    .gac-main__title::before {
      left: -42px;
      top: 75px;
      transform: scale(0.6);
    }
  }
  .gac-blog.gac-main--seo__hire-freelance {
    .gac-blog__title {
      &::before {
        transform: scale(0.6);
        left: 43px;
        top: 63px;
      }
    }
  }
  .gac-main.gac-main--seo__hire-writers {
    .gac-main__title::before {
      right: -36px;
      top: 32px;
      transform: scale(0.57);
    }
  }
  .gac-blog.gac-main--seo__hire-writers {
    .gac-blog__title {
      &::before {
        transform: scale(0.6);
        left: -64px;
        top: 63px;
      }
    }
  }
  .gac-main.gac-main--seo__seo {
    .gac-main__title::before {
      left: -17px;
      top: 33px;
      transform: scale(0.6);
    }
  }
  .gac-blog.gac-main--seo__seo {
    .gac-blog__title {
      &::before {
        transform: scale(0.61);
        left: 111px;
        top: 27px;
      }
    }
  }
}
